/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: rgba(237, 185, 228, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --main-color: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
  --decorate-color: rgba(53, 52, 48, 1);
  --main-title-color: rgba(53, 52, 48, 1);
  --description-color: rgba(53, 52, 48, 1);
  --focus-color: rgba(50, 49, 45, 0.4);
}

:root.theme-light .header__decorative-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: rgba(237, 185, 228, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --main-color: rgba(53, 52, 48, 1);
    --title-color: rgba(255, 194, 230, 1);
    --decorate-color: rgba(53, 52, 48, 1);
    --main-title-color: rgba(53, 52, 48, 1);
    --description-color: rgba(53, 52, 48, 1);
    --focus-color: rgba(50, 49, 45, 0.4);
  }

  .header__decorative-element {
    display: none;
  }
}